@font-face {
    font-family: me;
    src: url(../../fonts/static/Montserrat-Medium.ttf);
}

:root{
    --font_Family_AllPages: me;
    --font_color_darkSection: rgb(255, 255, 255);
    --font_color_lightSection: rgb(0, 0, 0);

    --color_Hightlight: #7589ff;
    --color_background_skills : #6f6f6f87 ;

    /* / Blacks and Whites / */
    --black-color: hsl(0, 0%, 0%); /*#black*/
    --white-color: hsl(0, 0%, 100%); /*#black*/
  
    /* / Background Colors / */
    --primary-bg-color: hsl(0, 0%, 7%); /*#111111*/
    --secondary-bg-color: hsl(0, 0%, 14%); /*#232323*/
    --accent-bg-color: hsl(0, 0%, 17%); /*#2C2C2C*/
    --light-bg-color: hsla(0, 0%, 83%, 0.385) ;
    --light-bg-color-hover: hsla(0, 0%, 83%, 0.661) ;
  
    /* / Primary, Secondary, Accent colors / */
    --primary-color: hsl(231, 37%, 14%); /*#161A30*/
    --secondary-color: hsl(231, 32%, 22%); /*#262B49*/
    --accent-color: hsl(231, 100%, 73%); /*#7589ff*/
  
    /* / Font color / */
    --primary-font-color: hsl(0, 0%, 100%); /*#FFFFFF*/
    --secondary-font-color: hsl(0, 0%, 80%); /*#B4B4B4 -> 0, 0, 71*/
  
    /* / Margin / */
    --margin-xxs: 0.25rem;
    --margin-xs: 0.5rem;
    --margin-s: 0.75rem;
    --margin-m: 1rem;
    --margin-l: 1.25rem;
    --margin-xl: 1.75rem;
    --margin-xxl: 2.5rem;
    --margin-xxxl: 5rem;
  
    /* / Padding / */
    --padding-xxs: 0.25rem;
    --padding-xs: 0.5rem;
    --padding-s: 0.75rem;
    --padding-m: 1rem;
    --padding-l: 1.25rem;
    --padding-xl: 1.75rem;
    --padding-xxl: 2.5rem;
  
    /* / font size / */
    --font-size-xxs: 0.75rem;
    --font-size-xs: 0.875rem;
    --font-size-s: 1rem;
    --font-size-sm: 1.125rem;
    --font-size-m: 1.25rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 3rem;
    --font-size-xxxl: 4rem;
    --font-size-xxxxl: 6rem;
    --font-size-xxxxxl: 8rem;
    --font-size-xxxxxxl: 10rem;
  
    --side-padding: 5vw;
  
    /* / screen max width */ 
    --screen-sm: 576px;
    --screen-md: 768px;
    --screen-lg: 992px;
    --screen-xl: 1200px;
    --screen-xxl: 1400px;
}

body {
    scroll-behavior: smooth;
    font-family: var(--font_Family_AllPages);
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p, a{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: var(--font_color_AllPages);
    padding: 0;
    margin: 0;
}

/* ***** Navbar ***** */

#homepage_navbar_oben{
    display: flex;
    justify-content: right;
    position: sticky;
}

#homepage_navbar_portfolio{
    display: flex; 
}

.homepage_navbar{
    width: 100%;
    position: fixed;
    top: 0;
    padding: 2.5vh 3vw 0 2vw;
    display: grid;
    grid-template-columns: 20% 80%;

    height: 3vh;

    color: white;
    z-index: 10;
}

.homepage_navbar_link{
    padding-right: 5vw;
    display: block;

    transition: all ease-in-out 150ms;
    font-size: var(--font-size-m);
}

.homepage_navbar_link:hover{
    scale: 1.15;
}

#projects_section1{
    height: auto;

    background-color: #161A30;
}

/* MAIN *** Projects *** Gallery Photos */

#projects_main_infosANDPics{
    padding: 3vw 3vw 3vw 3vw;
}

#projects_main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5vw;
    margin: 2vh 1vw 0 1vw;
}

.projects_main_galleryBox{
    /* background-color: var(--light-bg-color); */
    padding: var(--padding-m);
    margin: 0;
    border-radius: 12px;

    /* box-shadow: 0 0 20px var(--light-bg-color); */

    text-align: center;

    transition: all ease-in-out 200ms;
}

.projects_main_galleryBox h4{
    font-size: var(--font-size-m);
    margin: 2vw 15vw 1vw 15vw;
    border-bottom: #7589ff 5px solid;
    border-radius: 50%;
}

.projects_main_galleryBox div p{
    margin: 0 1vw 2vw 1vw;
}

.projects_main_galleryBox div{
    position: relative;
    bottom: 12vw;
    color: var(--white-color);
}


.projects_main_galleryBox:hover{
    /* background-color: var(--light-bg-color-hover); */
    transform: translateY(-7px);
    cursor: pointer;
}

.project_main_img{
    width: 40vw;
    height: 40vw;
    object-fit: contain;
    opacity: 0.5;
}

#projects_main_headline{
    text-align: left;
    color: var(--white-color);
    padding: 10vh 0 1vh 0;
    text-decoration: underline;
}

/* Fotografie -- Fotos usw */

#project_info_content{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2vw;
}

.projects_main_galleryBox_project1 img{
    opacity: 0.3;
    object-fit: cover;
    width: 30vw;
    height: 25vw;

    box-shadow: 0 0 10px var(--black-color);

    transition: all ease-in-out 200ms;
}

.projects_main_galleryBox_project1 img:hover{
    opacity: 1;
    transform: translateY(-10px);
}

.foto_beschreibing{
    color: var(--white-color);
    position: relative;
    bottom: 60px;
    left: 15px;
}

#back{
    font-size: var(--font-size-m);
    color: var(--white-color);
    margin: 2vw 1vw 2vw 1vw;

    transition: all ease-in-out 200ms;
}

#back:hover{
    cursor: pointer;
    transform: translateY(-4px);
}


