
@media (max-width: 1614px) {
    /* Nav Bar */

    /* Section1 - Welcome */

    /* Section2 - Skills */

    /* Section3 - Projects */
    #projects_main{
        display: grid;
        grid-template-columns: 50% 50%;
        margin-top: 2vw;
        row-gap: 6vw;
    }

    .projects_main_galleryBox h4{
        font-size: var(--font-size-m);
        margin: 6vw 15vw 0vw 15vw;
        border-bottom: #7589ff 5px solid;
        border-radius: 47%;
    }

    .projects_main_galleryBox img{
        width: 35vw;
        height: 25vh;
        object-fit: cover;
        border-radius: 12px;
    }

    .projects_main_galleryBox:hover{
        transform: translateY(-5px);
        cursor: pointer;
    }

    /* Section4 - Contact */

    /* Footer */

    /* General */

    /* AboutMe */

}

@media (max-width: 1300px) {
    /* Nav Bar */

    /* Section1 - Welcome */

    /* Section2 - Skills */

    /* Section3 - Projects */

    #projects_main{
        display: grid;
        grid-template-columns: 100%;
        margin-top: 2vw;
        row-gap: 17vw;
    }

    .projects_main_galleryBox h4{
        font-size: var(--font-size-m);
        margin: 6vw 15vw 0vw 15vw;
        border-bottom: #7589ff 5px solid;
        border-radius: 47%;
    }

    .projects_main_galleryBox img{
        width: 45vw;
        height: 35vh;
        object-fit: cover;
        border-radius: 12px;
    }

    .projects_main_galleryBox:hover{
        transform: translateY(-5px);
        cursor: pointer;
    }

    /* Section4 - Contact */

    /* Footer */

    /* General */

    /* AboutMe */
    .socialImg{
        width: 6vw;
        height: 6vw;
        transition: all ease-in-out 200ms;
    }

}


/* Notes:

Projects: 1614 px width h4 nach oben positionieren und grid 2x2

Home: 800 px width Bild entfernen und Schrift width 100%

*/