@media (max-width: 1614px) {
    /* Nav Bar */

    /* Section1 - Welcome */

    /* Section2 - Skills */

    /* Section3 - Projects */

    /* Section4 - Contact */

    /* Footer */

    /* General */

    /* AboutMe */

}

@media (max-width: 1614px) {
    /* Nav Bar */

    /* Section1 - Welcome */

    /* Section2 - Skills */

    /* Section3 - Projects */
    #projects_main{
        display: grid;
        grid-template-columns: 50% 50%;
        margin-top: 1vw;
    }

    

    /* Section4 - Contact */

    /* Footer */

    /* General */

    /* AboutMe */

}

/* Notes:

Projects: 1614 px width h4 nach oben positionieren und grid 2x2

Home: 800 px width Bild entfernen und Schrift width 100%

*/